# /etc/systemd/system/sockets-server.service
 
[Unit]
Description=SocketsForksPGP

[Service]
User=vagrant
WorkingDirectory=/usr/bin
ExecStart= /bin/bash /usr/bin/sockets-server.sh
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target